/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
/* COLOR SYSTEM */
html:root {
  --blue: #4791ff;
  --orange: #ff8d07;
  --light-dark: #343a40c7;
}

/* BACKGROUND SYSTEM */
.bg-light-dark {
  background-color: var(--light-dark);
}

.bg-jv {
  background-image: url("../media/bg-jv.png");
  background-repeat: repeat;
}

.bg-jv-blur {
  background-image: url("../media/bg-jv-blur.png");
  background-repeat: repeat;
}

/* TABLE SYSTEM */
table {
  background-color: #0960bd;
  margin: 0 auto;
  border-radius: 30px;
}

td {
  background-color: #429ffd;
  padding: 20px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

td:hover {
  opacity: 0.5;
}

#game {
  margin-top: 10px;
}

.go {
  font-family: "Luckiest Guy", cursive;
  font-size: 60px;
  color: #FFC107;
  text-shadow: 3px 2px #ff9307;
}

.player {
  height: 100px;
  width: 100px;
  background-color: #2b5fca;
  border-radius: 25px;
  box-shadow: 2px 4px rgba(27, 27, 27, 0.267) !important;
}

.resulj1 {
  font-family: "Luckiest Guy";
}

.resulj2 {
  font-family: "Luckiest Guy";
}

.joueur {
  font-family: "Luckiest Guy", cursive;
  font-size: 25px;
  color: white;
  padding-top: 20px;
}

.joueur1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 25px;
  color: white;
}

.joueur2 {
  font-family: "Luckiest Guy", cursive;
  font-size: 25px;
  color: white;
}

/* BOUTON RELOAD GAME */
.btn-go {
  background-color: #ffc107 !important;
  box-shadow: 2px 2px rgba(27, 27, 27, 0.267) !important;
  border-radius: 15px;
  width: 80%;
}

/* COINS COLORS */
.rouge {
  background-color: #f12d2d;
}

.jaune {
  background-color: #f79f24;
}

h2 {
  background-color: #0960bda6;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  font-family: "Luckiest Guy", cursive;
  color: white;
}

/* MEDIA QUERIES */
@media (min-width: 768px) and (max-width: 991.98px) {
  td {
    height: 80px;
    width: 80px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .go {
    font-size: 45px;
  }

  td {
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 575.98px) {
  .go {
    font-size: 35px;
  }

  td {
    height: 50px;
    width: 50px;
  }

  .player {
    height: 50px;
  }

  .btn-go {
    width: 90%;
  }

  .joueur {
    font-size: 1.3rem;
    padding-top: 20px;
  }

  .resulj1 {
    display: none;
  }

  .resulj2 {
    display: none;
  }
}
/* BOUNCING TEXT EFFECT */
.animated-bounce {
  -webkit-animation-duration: 1.5s;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/*# sourceMappingURL=style.css.map */
