.go{
    font-family: 'Luckiest Guy', cursive;
    font-size: 60px;
    color: #FFC107;
    text-shadow: 3px 2px #ff9307;
}

table{
    background-color: #0960bd;
    margin: 0 auto;
    border-radius: 30px;
}

td{
    background-color: #429ffd;
    padding: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

td:hover{
    opacity: 0.5;
}

#game{
    margin-top: 10px;
}
.player{
    height: 100px;
    width: 100px;
    background-color: #2b5fca;
    border-radius: 25px;
    box-shadow: 2px 4px rgba(27, 27, 27, 0.267) !important;
}
.joueur{
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    color: white;
    padding-top: 20px;
}
.joueur1{
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    color: white;
    padding-top: 20px;
}
.joueur2{
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    color: white;
    padding-top: 20px;
    
}
.btn-go{
    background-color: #FFC107 !important;
    box-shadow: 2px 2px rgba(27, 27, 27, 0.267) !important;
    border-radius: 15px;
    width: 100px;
    margin-top: 50px;
}

.rouge {
    background-color: #f12d2d;
}

.jaune {
    background-color: #f79f24;
}

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 768px) and (max-width: 991.98px) {
    td{
        height: 80px;
        width: 80px;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .go{
        font-size: 45px;
    }
    td{
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 575.98px) {
    .go{
        font-size: 35px;
    }
    td{
        height: 60px;
        width: 60px;
    }
}